src/main/resources/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trees" type="treesType"/>
  <xs:complexType name="treesType">
    <xs:sequence>
      <xs:element type="treeType" name="tree" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="treeType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1-1-1"/>
            <xs:enumeration value="1-1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2-1-1"/>
            <xs:enumeration value="2-1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tree1-1-1"/>
            <xs:enumeration value="tree1-1"/>
            <xs:enumeration value="tree1"/>
            <xs:enumeration value="tree1-2-1"/>
            <xs:enumeration value="tree1-2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="selected" minOccurs="0"/>
      <xs:element type="treeType" name="tree" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>